# ignore
test/manual-docker/installer-nipkg/*
test/manual-docker/installers/*
test/manual-docker/installers-iso/*
test/manual-docker/test-temp/*
test/manual-docker/LabViewHelpers/*

test/manual/test-temp/*


# keep
!test/manual-docker/installers/.gitkeep
!test/manual-docker/installer-nipkg/.gitkeep
!test/manual-docker/installers-iso/.gitkeep
!test/manual-docker/test-temp/.gitkeep


!test/manual/test-temp/.gitkeep